{% extends 'layout/base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<div class="max-w-[var(--container-width)] w-full bg-white p-8 rounded-lg shadow">


    <table class="w-full bg-light border border-gray-200">
        <thead class="bg-primary text-white">
            <tr>

                <th class="px-4 py-2 text-left text-light">
                    Nombres
                </th>
                <th class="px-4 py-2 text-left text-light">
                    Telefono
                </th>
                <th class="px-4 py-2 text-left text-light">
                    Documento
                </th>
                <th class="px-4 py-2 text-left text-light">
                    Email
                </th>
                <th class="px-4 py-2 text-left text-light">
                    Especialidad
                </th>
                <th class="px-4 py-2 text-left text-light">
                    Continuador
                </th>
                 <th class="px-4 py-2 text-left text-light">
                    Sis
                </th>
                 <th class="px-4 py-2 text-left text-light">
                    Interconsulta
                </th>
                 <th class="px-4 py-2 text-left text-light">
                    Fecha
                </th>
                 <th class="px-4 py-2 text-left text-light">
                    Estado
                </th>
                 <th class="px-4 py-2 text-left text-light">
                    Opcion
                </th>


                <th class="px-4 py-2 text-left text-light">Acciones</th>
            </tr>
        </thead>

        <tbody>

            <tr class="border-t border-gray-200 hover:bg-hover-grey text-dark">

                <td class="px-4 py-2">
                    njdffdf
                </td>

                <td class="px-4 py-2">dsfdfgfdgfdgfdg</td>

            </tr>



        </tbody>
    </table>

</div>
{% endblock %}