{% from "components/itemNav.html" import nav_item %}

<aside class="fixed w-60 left-0 flex flex-col bg-ligth-500 h-screen p-4 shadow-md justify-between">
  <ul class="space-y-5">
    <div class="border p-5">
      <h1 class="font-extrabold">Logo</h1>
    </div>

    {# Visible para todos / ADMIN #}
    {% if has_role(ROLE_ADMIN) %}
      {{ nav_item('/', 'browse_activity', 'Dashboard') }}
      {{ nav_item('/user', 'person_add', 'Crear Usuario') }}
    {% endif %}

    {% if has_role(ROLE_ADMIN, ROLE_NORMAL) %}
      {{ nav_item('/solicitudes', 'clinical_notes', 'Solicitudes') }}
    {% endif %}

    {# Visible para todos #}
    {{ nav_item('/change-password', 'lock_reset', 'Cambiar contraseña') }}
  </ul>

  <!-- Footer -->
  <div>
    <div class="flex justify-start items-center pl-5 transition-all duration-100 ease-in-out border-l-6 border-primary-200 bg-primary-hover rounded-md">
      <span class="material-symbols-outlined text-primary-200">logout</span>
      <a href="/logout" class="block hover:bg-primary-hover px-2 py-3 ml-2 rounded mt-1 text-dark-500 font-semibold text-sm">
        Cerrar sesión
      </a>
    </div>
  </div>
</aside>
