@import "tailwindcss";

@theme {

  --color-primary:#677bb4;
  --color-primary-hover:#566692;

  --font-sans: "Poppins", sans-serif;
  --container-width: 1440px;


}

body {
  font-family: var(--font-sans);
}